@media (max-width:1440px) {}

@media (max-width:1024px) {}

@media (max-width:992px) {}

@media (max-width:768px) {}

@media (max-width:426px) {
    .btns.signup {
        bottom: 00px;
        right: 0px;
    }
    .container_login{
        left: -15px;
    }
}

@media (max-width:376px) {}

@media (max-width:320px) {}